[workspace]
members = ["apps/{{ project_slug }}"]
resolver = "3"

[workspace.package]
authors = ["Jeremy Meek"]
edition = "2024"
rust-version = "1.99.0"
version = "0.1.0"

[workspace.dependencies]
dioxus = { version = "=0.7.10", features = ["router"{% if fullstack %}, "fullstack"{% endif %}] }

[profile.release]
codegen-units = 1
lto = true
panic = "abort"
strip = true
{% if "web" in targets %}
[profile.wasm-dev]
inherits = "dev"
opt-level = 1

[profile.wasm-release]
inherits = "release"
opt-level = "z"
{% endif %}
{% if fullstack %}
[profile.server-dev]
inherits = "dev"
{% endif %}
{% if "mobile" in targets %}
[profile.android-dev]
inherits = "dev"
{% endif %}
[workspace.lints.rust]
unsafe_code = "deny"

[workspace.lints.clippy]
all = "warn"
