set shell := ["bash", "-uc"]

default:
    @just --list

serve platform:
    dx serve --package {{ project_slug }} --platform {% raw %}{{ platform }}{% endraw %}

build platform:
    dx build --package {{ project_slug }} --platform {% raw %}{{ platform }}{% endraw %}

check platform:
    dx check --package {{ project_slug }} --platform {% raw %}{{ platform }}{% endraw %}{% if fullstack %} --fullstack{% endif %}

format:
    cargo fmt --all -- --check

lint feature:
    cargo clippy --workspace --all-targets --no-default-features --features {% raw %}{{ feature }}{% endraw %} -- -D warnings
