use crate::router::Route;
use dioxus::prelude::*;

const MAIN_CSS: Asset = asset!("/assets/main.css");

#[component]
pub fn App() -> Element {
  rsx! {
    document::Title { {{ project_name | tojson }} }
    document::Stylesheet { href: MAIN_CSS }
    Router::<Route> {}
  }
}
