use crate::router::Route;
use dioxus::prelude::*;
{% if "charting" in capabilities %}use dx_charming::ChartAssets;
{% endif %}
const TAILWIND_CSS: Asset = asset!("/assets/tailwind.css");

#[component]
pub fn App() -> Element {
  rsx! {
    document::Title { {{ project_name | tojson }} }
    document::Stylesheet { href: TAILWIND_CSS }
{% if "charting" in capabilities %}    ChartAssets {}
{% endif %}    Router::<Route> {}
  }
}
