[package]
authors.workspace = true
edition.workspace = true
name = {{ project_slug | tojson }}
publish = false
rust-version.workspace = true
version.workspace = true

[dependencies]
dioxus = { workspace = true }

[features]
default = []
{% if "web" in targets %}
web = ["dioxus/web"]
{% endif %}
{% if "desktop" in targets %}
desktop = ["dioxus/desktop"]
{% endif %}
{% if "mobile" in targets %}
mobile = ["dioxus/mobile"]
{% endif %}
{% if fullstack %}
server = ["dioxus/server"]
{% endif %}

[lints]
workspace = true
