[application]
asset_dir = "assets"
name = {{ project_slug | tojson }}
out_dir = "dist"
{% if app_type in ["web", "fullstack"] %}
[web.app]
title = {{ project_name | tojson }}

[web.watcher]
reload_html = true
watch_path = ["assets", "src"]

[web.wasm_opt]
level = "z"
{% elif app_type == "desktop" %}
[bundle]
identifier = "com.entropybender.{{ project_slug | replace('-', '') }}"
name = {{ project_name | tojson }}
publisher = "Jeremy Meek"
version = "0.1.0"
{% else %}
[bundle]
identifier = "com.entropybender.{{ project_slug | replace('-', '') }}"
name = {{ project_name | tojson }}
publisher = "Jeremy Meek"
version = "0.1.0"

[android]
min_sdk = 26
target_sdk = 34

[ios]
deployment_target = "15.0"
{% endif -%}
